name: OB OpenAPI Validator

on: [push, pull_request]

jobs:
  swagger-editor-oas-validator-remote:
    name: Swagger Editor OAS Validator Remote
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install/Update Packages
        run: sudo apt-get update && sudo apt-get install -y libnss3 libgdk-pixbuf2.0 libgtk-3-dev libxss-dev libasound2t64
      - name: Validate OB OpenAPI
        uses: swaggerexpert/swagger-editor-validate@master
        with:
          definition-file: Master-OB-OpenAPI.json
          default-timeout: 60000

  ob-open-api-validator:
    name: OB OpenAPI Validator
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Install IBM OpenAPI Validator with Its Spectral OpenAPI Ruleset
        run: npm install -g ibm-openapi-validator@0.76.2 && npm install @ibm-cloud/openapi-ruleset@0.25.2
      - name: Install Typo.js Spellchecker
        run: npm install typo-js@1.2.1
      - name: Run validator
        run: lint-openapi Master-OB-OpenAPI.json -r ./.github/configs/schema-validator/.spectral.yaml
